.sidebar {
 height: 800px;
  width: 450px;
  padding: 20px;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #ddd;
  font-family: sans-serif;
}

/* Sidebar kengligi */
.open {
  width: 250px;
}
.closed {
  width: 80px;
}

/* Light/Dark Mode ranglari */
.light {
  background-color: #ffffff;
  color: #000000;
}

.dark {
  background-color: #121212;
  color: #ffffff;
  border-right: 1px solid #333;
}

.controls {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 30px;
}

.btn {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  cursor: pointer;
  font-weight: bold;
}

/* Menu elementlari */
.menu-item {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 12px;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 5px;
}

.menu-item.active {
  background-color: #c2185b;
  color: white;
}

.menu-item:hover:not(.active) {
  background-color: rgba(128, 128, 128, 0.1);
}
